<%= content_for :title, "Actualité" %>
<div class="wrapper">
  <div class="page-header page-header-small">

    <div class="page-header-image" data-parallax="true" style="background-image:url('./assets/img/header.jpg">
    </div>


    <div class="content-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Actualité</h2>
          <h4>All'In lancé en 2019.</h4>
        </div>
      </div>
    </div>
  </div>


  <div class="section">

    <div class="section section-blog-info">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">

            <div class="row">
              <div class="col-md-6">
                <div class="blog-tags">
                  Tags:
                  <span class="label label-primary">Photography</span>
                  <span class="label label-primary">Stories</span>
                  <span class="label label-primary">Castle</span>
                </div>
              </div>
              <div class="col-md-6">
                <a href="#pablo" class="btn btn-google btn-round pull-right">
                  <i class="fab fa-google"></i> 232
                </a>
                <a href="#pablo" class="btn btn-twitter btn-round pull-right">
                  <i class="fab fa-twitter"></i> 910
                </a>
                <a href="#pablo" class="btn btn-facebook btn-round pull-right">
                  <i class="fab fa-facebook-square"></i> 872
                </a>

              </div>
            </div>

            <hr />

            <!-- <div class="card card-profile card-plain">
              <div class="row">
                <div class="col-md-2">
                  <div class="card-avatar">
                    <a href="#pablo">
                      <img class="img img-raised" src="../assets/img/mike.jpg">
                    </a>
                    <div class="ripple-container"></div>
                  </div>
                </div>
                <div class="col-md-8">
                  <h4 class="card-title">Alec Thompson</h4>
                  <p class="description">I've been trying to figure out the bed design for the master bedroom at our
                    Hidden Hills compound...I like good music from Youtube.</p>
                </div>
                <div class="col-md-2">
                  <button type="button" class="btn btn-default pull-right btn-round">Follow</button>
                </div>
              </div>
            </div> -->

          </div>
        </div>
      </div>
    </div>
    <div class="explore">

      <div class="explores">

        <% if !@explore.empty? %>
        <% @explore.each do |e| %>
        <%= render 'partials/list', type: 'explores', f: e %>
        <% end %>
        <% end %>

        <% if @explore.empty? %>
        <%= render 'partials/nothing', mssg: "No one to explore!!" %>
        <% end %>

        <% if !@explore.empty? %>
        <%= render 'partials/end' %>
        <% end %>

      </div>

    </div>

  </div>

</div>