<% content_for :title, "Welcome" %>
  <div class="landing-header" style="background-image: url('assets/paper_img/2.jpg')">
      <div class="container" style= "color: white">
        <div class="motto">
          <br>
          <br>
          <br>
          <h1 class="title-uppercase">All'in</h1>
          <!--    <h3>"Watch your business news anywhere and everywhere"</h3> -->
          <h3> "Regardez vos nouvelles professionnelles n'importe où <br> et n'importe quand "</h3>
          <br />
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-info"><i class="fa fa-play"></i>Notre Page Facebook</a>
          <a class="btn btn-primary ">Contacter</a>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="section text-center landing-section">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2>Actualités</h2>
              <h5>Ici vous trouverez les diverses publications et informations pouvant etre rendu
                publiques dans ce
                site.</h5>
              <br />
              <a href="actualite.html" class="btn btn-da btn-fill">Actualités</a>
            </div>
          </div>
        </div>
      </div>
      <div class="section section-dark  text-center landing-section">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2>Projets</h2>
              <h5>Tous ce qui consiste les projets sont ici, que ce soit lancement ou avancement. </h5>
              <br />
              <a href="#" class="btn btn-neutral btn-fill">Projets</a>
            </div>
          </div>
        </div>
      </div>
      <div class="section section-light text-center landing-section">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2>Gallery</h2>
              <h5>Ici vous trouverez les différents images diffusé dans le site.</h5>
              <br />
              <a href="#" class="btn btn-default btn-fill">Gallery</a>
            </div>
          </div>
        </div>
      </div>

      <div class="section section-dark text-center landing-section">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2>Archives</h2>
              <h5>Les diverses publications seront classé ici par heure, par date, par jour et par année
                de
                publication.</h5>
              <br />
              <a href="#" class="btn btn-neutral btn-fill">Archives</a>
            </div>
          </div>
        </div>
      </div>

      <div class="section section-light  text-center landing-section">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2>A propos</h2>
              <h5>Pour connaitre un peu plus notre équipe.</h5>
              <br />
              <a href="#" class="btn btn-da btn-fill">A propos</a>

            </div>
          </div>
        </div>
      </div>


      <!-- <div class="section section-dark-blue landing-section">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-center">Nous contacter ?</h2>
              <form class="contact-form">
                <div class="row">
                  <div class="col-md-6">
                    <label>Nom</label>
                    <input class="form-control" placeholder="Nom">
                  </div>
                  <div class="col-md-6">
                    <label>Email</label>
                    <input class="form-control" placeholder="Email">
                  </div>
                </div>
                <label>Message</label>
                <textarea class="form-control" rows="4" placeholder="Raconte-nous tes pensées et tes sentiments ..."></textarea>
                <div class="row">
                  <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-warning btn-block btn-lg btn-fill">Envoyer</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div> -->
    </div>